.sidebar-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.sidenav-drawer {
    background-color: white;
    height: 100%;
    width: 125px;
}

.sidenav-drawer2 {
    height: 100%;
    width: 70px;
}
