<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
  <div>
    <label for="player1Throw" >Player 1 Throw </label>
    <!-- <input [(ngModel)]=p1val type="text" id="p1throw" > -->
    <select id="player1Throw" (change)="palyer1throws($event.target.value)">
      <option [value]="undefined">Select a value</option>
      <option *ngFor="let player1Throw of throwTypes" [value]="player1Throw">
        {{throwLocalization[player1Throw]}}</option>
    </select>
    <label for="player2Throw" >Player 2 Throw </label>
    <select id="player2Throw" (change)="palyer2throws($event.target.value)">
        <option [value]="undefined">Select a value</option>
        <option *ngFor="let player2Throw of throwTypes" [value]="player2Throw">
          {{throwLocalization[player2Throw]}}</option>
      </select>
    <!-- <input [(ngModel)]=p2val type="text" id="p2throw" > -->
    <button id="playGame" type="submit" (click)="playGame()">Play</button>
    {{gameResult}}
  </div>


