.container {
    width:100%;
    position: fixed;
    background-image: linear-gradient(to top right, aqua, teal);
}

.sidenav {
    width: 25%;
    display: inline;
    position: relative;
    left: 0;
}

.content {
    display: inline;
    position: relative;
    right: 0;
}