<label for="player1Throw">Throw </label>
<select id="player1Throw">
  <option [value]="undefined">Select a value</option>
</select>
<label for="player1Name">Player 1 Name </label>
  <input  type="text" id="player1Name">
  <label for="player1Id">Id</label>
  <input  type="text" id="player1Id">

<label for="player2Throw">Throw </label>
<select id="player2Throw">
  <option [value]="undefined">Select a value</option>
</select>
<label for="player2Name">Player 2 Name </label>
  <input type="text" id="player2Name">
  <label for="player2Id">Id</label>
  <input type="text" id="player2Id">