





<div class="container content">
    <mat-label for="gameModeToggle" *ngIf="isPracticeGame === false">Ranked</mat-label>
    <mat-label for="gameModeToggle" *ngIf="isPracticeGame === true">Practice</mat-label>
    <mat-slide-toggle id="gameModeToggle" [checked]="isPracticeGame" (change)="isPracticeGame = !isPracticeGame"></mat-slide-toggle> <!-- container centers content on large screens -->
  <div class="row">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-6">    
      <div class="row">
          <ng-container *ngIf="isPracticeGame === false">
              <div class="row">
                <div class="col-md-6">
                    <mat-label for="player1Name">Player 1 Name</mat-label>
                    <br />
                    <input type="text" id="player1Name" [(ngModel)]=player1Name>
                </div>
                <div class="col-md-6">
                    <mat-label for="player1Id">Id</mat-label>
                    <br />
                    <input type="text" id="player1Id" [(ngModel)]=player1Id>
                </div>
              </div>
            </ng-container>
      </div>
      <div class="row">
        <div class="throw-container">
            <mat-label for="player1Throw">Throw</mat-label>
            <select id="player1Throw" [(ngModel)]="player1Throw">
              <option [value]="undefined">Select a value</option>
              <option *ngFor="let p1Throw of throwTypes" [value]="p1Throw">
                {{throwLocalization[p1Throw]}}</option>
            </select>
        </div>
      </div>
    </div>
    <div class="col-md-6"> 
      <ng-container *ngIf="isPracticeGame === false">
          <mat-label for="player2Name">Player 2 Name</mat-label>
          <br />
          <input type="text" id="player2Name" [(ngModel)]=player2Name>
          <mat-label for="player2Id">Id</mat-label>
          <br />
          <input type="text" id="player2Id" [(ngModel)]=player2Id>
      </ng-container>

      <mat-label for="player2Throw">Throw</mat-label>
      <select id="player2Throw" [(ngModel)]="player2Throw">
        <option [value]="undefined">Select a value</option>
        <option *ngFor="let p2Throw of throwTypes" [value]="p2Throw">
          {{throwLocalization[p2Throw]}}</option>
      </select>
    </div>
  </div>
  <div class="row">
      <button id="submit-ranked" mat-raised-button color="primary" *ngIf="isPracticeGame === false" (click)="processRankedGame()">Submit</button>
      <button id="submit-practice" mat-raised-button color="accent" *ngIf="isPracticeGame === true" (click)="processPracticeGame()">Submit</button>
      
      <p>{{mostRecentOutcome}}</p>
  </div>
</div>